body {
    background:#f5f5f5;
    font-family:Arial;
    margin:0;
}

.container {
    max-width:500px;
    margin:auto;
    background:#fff;
    padding:20px;
    border-radius:10px;
    margin-top:20px;
}

.label-title { font-weight:bold; margin-top:20px; display:block; }

input, select, textarea {
    width:100%;
    padding:10px;
    margin-top:6px;
    border:1px solid #ccc;
    border-radius:6px;
}

.btn-primary {
    background:#28a745;
    color:white;
    padding:12px;
    width:100%;
    border:none;
    border-radius:8px;
    margin-top:10px;
    font-size:16px;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
}

/* --- MODAL --- */

/* -------- MODAL CÁMARA -------- */

.modal {
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.9);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:99999;
}

.camera-screen {
    width:100%;
    height:100%;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

#video {
    width:100%;
    height:100%;
    object-fit:cover;
}

.silueta-overlay {
    position:absolute;
    width:70%;
    opacity:0.35;
}

/* Botón cerrar tipo cámara */
.close-btn {
    position:absolute;
    top:18px;
    right:18px;
    font-size:34px;
    color:white;
    cursor:pointer;
    user-select:none;
}

/* Botón circular estilo cámara */
.shutter-btn {
    position:absolute;
    bottom:40px;
    width:80px;
    height:80px;
    background:white;
    border-radius:50%;
    border:6px solid #ddd;
    cursor:pointer;
    box-shadow:0 0 10px rgba(255,255,255,0.4);
}

/* PREVIEW FOTO */
.preview-container {
    width:100%;
    height:100%;
    background:black;
    display:none;
    position:relative;
}

.preview-photo {
    width:100%;
    height:100%;
    object-fit:cover;
}

/* Botones de acción estilo cámara */
.camera-actions {
    position:absolute;
    bottom:25px;
    width:100%;
    display:flex;
    justify-content:space-around;
}

.action-btn {
    padding:14px 28px;
    font-size:18px;
    font-weight:bold;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

.btn-retry {
    background:#555;
    color:white;
}

.btn-confirm {
    background:#28a745;
    color:white;
}
